#assignment {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  max-width: 844px;
  padding: 50px 166px;
  width: 100%;
}

.header {
  color: $green;
  font-size: 11px;
  margin: 0;
}

.title {
  color: $black;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin: 5px 0 12px;
}

.description {
  color: $dark-gray;
  margin-bottom: 41px;
}
