custom-select {
  color: var(--gray-color);
  cursor: pointer;
  flex-flow: row wrap;

  &.is-active {
    color: var(--secondary-color);
  }

  &,
  &-input {
    display: flex;
    width: 100%;
  }

  &-input {
    align-items: center;
    border: 1px solid var(--dark-color);
    border-radius: var(--base-radius);
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    max-width: 512px;

    .is-active & {
      border-color: var(--primary-color);
    }
  }

  ui-label {
    height: 18px;
  }
}
