html,
body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: "Sailec",sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}
